@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Globals */
.container {
  max-width: 1024px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: blueviolet;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.para {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(25, 25, 25);
}

.text-center {
  text-align: center;
}

.loader-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 100%;
  border: 0.5rem solid gray;
  border-top: 0.5rem solid black;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.nav-scroll {
  box-shadow: 0 1px 0.5rem 0 rgb(230, 230, 230);
}

.navlist {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.navlist li a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  transition: 0.2s opacity linear;
}

.navlist li a:hover {
  opacity: 1;
}

.socials li a {
  font-size: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: black;
}

/* Burger */
.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
  border: none;
  opacity: 0.8;
}

.burger .line {
  height: 3px;
  width: 24px;
  border-radius: 10px;
  background-color: black;
  transition: all 0.1s ease-in-out;
}

/* Hero */
.hero {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 10rem 0;
  position: relative;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: start;
  margin-bottom: 2rem;
  line-height: 6rem;
}

.hero-img {
  width: 30rem;
  height: 22rem;
  position: relative;
}

.hero-img img {
  display: block;
  object-fit: cover;
  border-radius: 80% 70% 80% 70%;
  width: 100%;
  height: 100%;
}

.profile-overlay {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: 100%;
  height: 100%;
  z-index: 5;
  border: 2px solid black;
  border-radius: 80% 70% 80% 70%;
}

.arrow-decor {
  display: block;
  width: 3rem;
  transform: rotate(50deg);
  position: absolute;
  bottom: 5rem;
  right: 22rem;
}

.line-decor {
  display: block;
  width: 1.5rem;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 1rem;
}

.hero-btn {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(90deg, blue, blueviolet);
  opacity: 1;
  transition: 0.2s opacity linear;
  margin-right: 1rem;
}

.hero-btn-outline {
  text-decoration: none;
  border: 2px solid blueviolet;
  background-color: transparent;
  color: blueviolet;
  opacity: 1;
  transition: 0.2s all linear;
}

.hero-btn-outline:hover {
  box-shadow: 0 3px 5px 0 blueviolet;
}

.hero-btn:hover {
  opacity: 0.8;
}

/* Techstack */
.techstack {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem 0;
}

.techstack li button {
  font-size: 5rem;
  background: transparent;
  border: none;
  transition: 0.2s opacity linear;
  position: relative;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 1px rgb(230, 230, 230);
}

.techstack li p {
  margin: 0 2rem 1rem 0;
}

.techstack li button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.techstack li button .tooltip {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  position: absolute;
  top: -100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(230, 230, 230);
  transition: 0.1s all ease-out;
  z-index: 5;
}

.techstack li button .tooltip::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgb(230, 230, 230);
}

.techstack li button:hover .tooltip {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

/* About */
.about-section {
  background-color: rgb(250, 250, 250);
  padding: 2rem 0;
}

.about {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 5rem 0;
}

.about-img {
  width: 100%;
}

.about-img img {
  width: 20rem;
  display: block;
  margin: 0 auto;
}

/* Projects */
.projects {
  padding: 5rem 0;
  font-family: 'Open Sans', sans-serif;
}

.projects-heading {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.project {
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.project .heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project .heading a {
  font-size: 1.5rem;
  color: #000;
}

.project:last-of-type {
  margin: 0;
}

.project-img {
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(200, 200, 200);
  scroll-behavior: smooth;
  position: relative;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.project::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.project-img img {
  width: 100%;
}

.project-text {
  font-size: 1rem;
}

.project-text .navlist {
  justify-content: center;
  margin: 1rem 0;
}

.project-tech {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: start;
  margin: 1rem 0;
  font-family: 'Open Sans', sans-serif;
  flex-wrap: wrap;
}

.project-tech li {
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  border-radius: 2rem;
  color: rgb(25, 25, 25);
}

/* Contact */
.contact-section {
  padding: 2rem 0;
  background-color: rgb(250, 250, 250);
  font-family: 'Open Sans', sans-serif;
}

.contact {
  display: flex;
  gap: 5rem;
  margin: 5rem 0;
}

.contact-info {
  margin: 1rem 0;
}

.contact-info > div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  gap: 1rem;
  color: rgb(40, 40, 40);
}

.contact-text .socials {
  margin: 2rem 0;
}

.contact-img {
  width: 25rem;
}

.contact-img img {
  width: 100%;
  color: black;
}

/* Footer */
.footer {
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 0;
  background-color: rgb(25, 25, 25);
  color: rgb(200, 200, 200);
}

/* Media queries */
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 768px;
  }

  .hero-text h1 {
    line-height: 6rem;
  }

  .hero-img {
    width: 26rem;
    height: 17rem;
  }

  .arrow-decor {
    right: 18rem;
  }

  .project {
    gap: 2.5rem;
  }

  .project .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  .burger {
    display: flex;
    transition: all 0.1s ease-in-out;
  }

  .burger-close {
    transform: translateX(8px);
  }

  .burger-close > .line:nth-of-type(2) {
    opacity: 0;
    transform: translateX(-15px);
  }

  .burger-close > .line:nth-of-type(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .burger-close > .line:nth-of-type(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .navbar {
    justify-content: stretch;
  }

  .navlist:not(.socials) {
    position: absolute;
    top: 90%;
    right: 12px;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    width: 15rem;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
  }

  .navlist:not(.socials)::after {
    content: '';
    position: absolute;
    top: -0.6rem;
    right: 1rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.6rem solid rgb(240, 240, 240);
  }

  .navlist-open {
    opacity: 1 !important;
    transform: scale(1) !important;
  }

  .socials {
    margin-left: auto;
    margin-right: 2rem;
  }

  .hero {
    margin: 2rem 0;
    height: fit-content;
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-img {
    width: 20rem;
    height: 20rem;
  }

  .hero-text h1 {
    text-align: center;
  }

  .arrow-decor {
    right: 25rem;
    bottom: 22rem;
    transform: rotate(160deg);
  }

  .line-decor {
    right: 5rem;
  }

  .about, .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-info > div {
    justify-content: center;
  }

  .contact-text .socials {
    justify-content: center;
  }

  .project {
    grid-template-columns: 1fr;
  }

  .project:nth-of-type(2) .project-text,
  .project:nth-of-type(4) .project-text {
    order: 1;
  }

  .project .heading a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  .navlist {
    gap: 1rem;
  }

  .container {
    max-width: 360px;
  }

  .hero-img {
    width: 16rem;
    height: 16rem;
  }

  .arrow-decor {
    right: 22rem;
    width: 2.5rem;
  }

  .hero-text h1 {
    font-size: 4rem;
    line-height: normal;
  }
}

/* Keyframes */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scroll transitions */
.from-left {
  transform: translateX(-10%);
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.from-right {
  transform: translateX(10%);
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.from-bottom {
  transform: translateY(20%);
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.animate {
  transform: translateX(0) translateY(0);
  opacity: 1;
}